:host {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.score-and-time-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
