:host {
  display: flex;
  flex: 1;
  align-items: stretch;
}

#watch {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
